{{"\a"}}__________________________________________________________
{{- with .status}}{{color "red"}}{{printf "%.0f" .id}} {{color "reset"}}{{if gt .in_reply_to_id 0.0}}« {{printf "%.0f" .in_reply_to_id}} {{end}}{{color ",,bold"}}{{if eq .visibility "direct"}}🔒  {{end}}{{if .sensitive}}⚠  {{color "reset"}}{{end}}{{color "magenta"}}@{{.account.acct}}{{color "reset"}}{{end}} {{with .account}}({{printf "%.0f" .id}}){{end}} {{with .status}}{{if .text_url}}{{.text_url}} {{else if .url}}{{.url}} {{else if .remote_url}}{{.remote_url}}{{end}}{{end}}
 {{with .status}}{{with .spoiler_text}}{{.}} {{end}}{{color "green"}}{{.content | fromhtml | wrap " " 79 | trim}}{{color "reset"}}{{end}}
